<h1>Welcome</h1>

<% if logged_in? %>
<li>
    <strong>You are Logged In, <%= current_user.username%> </strong><br>
</li>



  <div class="body-font">
  <ul class = "image">
    <% @videos.each do |video| %>
        <li>Title: <%=video.title%>
        <li id= "img"> <%= image_tag(video.thumbnail) if video.thumbnail.attached? %> </li>
        <li><%= video.hashtag %></li>
        <li><% video.user.username %></li>
        <li><%= link_to 'Show', video %></li>
    <% end %>
  </ul>
  </div>

<%= link_to 'Upload New Videos', new_video_path %> 


    <%=button_to "logout", logout_path, method: "delete"%>

<%end%> <!-- end of login conditional -->



<% if !logged_in? %>
<table style="width:40%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Hashtag</th> 
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="body-font">
    <% @videos.each do |video| %>
      <tr>
        <td id="thumbnail"> <%= image_tag(video.thumbnail) if video.thumbnail.attached? %><%= video.title %> </td>
        <td><%= video.hashtag %></td>
        <td><% video.user.username %></td>
      
        
      </tr>
    <% end %>
  </tbody>
</table>


<%= button_to "Login", '/login', method: :get %>

<%= button_to "Sign Up", '/users/new', method: :get%>
  
<% end %>



