<p id="notice"><%= notice %></p>
  <link href="https://vjs.zencdn.net/7.6.6/video-js.css" rel="stylesheet" />

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<video
    id="my-video"
    class="video-js"
    controls= ''
    preload="auto"
    width="640"
    height="264"
    <%# poster=#%>
    data-setup="{}">

    <source src="<%=url_for(@video.clip)%>" type="video/mp4" >
    
   
  </video>

<p> 
 <%= link_to @video.user.username, user_path(@video.user.id) %> 
  <% unless @video.user.id == current_user.id %>
    <% unless current_user.subscribed_to.include?(@video.user) %>
    <%= button_to 'Subscribe', {:controller => "subs", action: "create", subscriber_id: current_user.id, subscribed_id: @video.user.id }, method: :post  %>
    <% end %>
  <% end %>
  
</p>
<hr>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>


<p>
  <strong>Hashtag:</strong>
  <%= @video.hashtag %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
<script src="https://vjs.zencdn.net/7.6.6/video.js"></script>
