<h1>ContentControllers#new</h1>
<h1>Sign Up</h1>
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
   <li> <%= error %> </li>
    <% end %>
<% end %>

<%= form_for @content_creator do |f|%>
    <%= f.label :profile_name %><br>
    <%= f.text_field :profile_name %><br>

  <%= f.label :username%><br>
  <%= f.text_field :username%><br>

  <%= f.label :password%><br>
  <%= f.password_field :password_digest %><br>

  <%= f.submit %>
<%end%>
